venv/
__pycache__/
docs/build/
.*
!.gitignore
!.github/
graveyard/
profile/
lightning_logs/
todo.md
debug.py
print_profile.py
install.txt
profile.txt
bioverse.egg-info/
bioverse_ml.egg-info/
scripts/
legacy/